<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="WebAPIAddress" value="http://localhost:7783/" />
        <add key="TCPAddress" value="tcp://127.0.0.1:7763" />
        <add key="AllTCPAddresses" value="tcp://127.0.0.1:7761,tcp://127.0.0.1:7762,tcp://127.0.0.1:7763" />
        <add key="ServerId" value="3" />
    </appSettings>
</configuration>