<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="RabbitMQHost" value="rabbitmq://localhost/"/>
        <add key="RabbitMQUsername" value="guest"/>
        <add key="RabbitMQPassword" value="guest"/>
        <add key="QueueName" value="best_line_selector_queue"/>
        <add key="PoemBeatifierManagerQueueName" value="poem_beautifier_manager_queue" />
        <add key="VowelsToConsonantsRatio" value="3:5"/>
    </appSettings>
</configuration>