input
{
    display: block;
    margin: 5px 0;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}

.error
{
    color: red;
}